@import url("./fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.paragraph-indent
{
  text-indent: 50px; 
}
.flex-justify
{
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
}
.box {
  @apply max-w-[1000px] flex-1 w-full rounded-2xl py-4 px-6;
}
.title {
  @apply font-scoutcond uppercase pb-4 font-black text-4xl sm:text-5xl text-center w-full sm:w-fit text-emerald-800;
}
.antiWrap {
    white-space: nowrap;
}

:root {
  --containerColor: lightgrey; /* rgb(20 20 20); */ /* rgb(241 245 249) */
  --bgColor: white;
  --textColor: black;
  --titleColor: rgb(6 95 70);
}
.bgColor {
  background-color: var(--bgColor);
}
.containerColor {
  background-color: var(--containerColor);
}
.textColor {
  color: var(--textColor);
}
.titleColor {
  color: var(--titleColor);
}
.black-fade-top {
  /* old
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.15) 50%,
    rgba(0, 0, 0, 0.075) 65%,
    rgba(0, 0, 0, 0.037) 75.5%,
    rgba(0, 0, 0, 0.019) 82.85%,
    rgba(0, 0, 0, 0.009) 88%,
    rgba(0, 0, 0, 0) 100%
    );

  /* darker */
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.375) 50%,
    rgba(0, 0, 0, 0.1875) 65%,
    rgba(0, 0, 0, 0.0625) 75.5%,
    rgba(0, 0, 0, 0.0313) 82.85%,
    rgba(0, 0, 0, 0.0156) 88%,
    rgba(0, 0, 0, 0) 100%
    );
  /* solid
  background: rgb(0, 0, 0, 0.5);
  /* */
  height:70px;
}

.z-0 {
  z-index: -1;
}

.navbar-item {
  position: relative;
  display: inline-block;
}

.navbar-item::after { /*before?*/
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
  visibility: hidden;
}

.navbar-item:hover::after {
  width: 100%;
  visibility: visible;
}

.navbar-item:not(:hover)::after {
    width: 0;
    visibility: hidden;
}
