@import url("./fonts/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  @apply max-w-[1000px] flex-1 w-full bg-white rounded py-4 px-6;
}
.title {
  @apply w-fit font-scoutcond uppercase pb-4 font-black text-4xl sm:text-5xl text-emerald-800;
}
